.Form-container {
  border-radius: 20px;
  min-height: 541px;
  width: 580px;
  background-color: #fff;
}

.Form-container--profile {
  width: 888px;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 56px 113px;
}

.Form--profile {
  margin: 59px 45px 67px;
  align-items: center;
}

.Form__heading {
  text-align: center;
  font-size: ;
}

.Form__heading--profile {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.Form__content {
  display: flex;
  flex-direction: column;
  
}
.Form__content--profile{
  width: 100%;
  margin-bottom: 50px;
}

.Form__inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Form__label {
  width: 100%;
}

.Form__label--date{
  margin-right: 35px;
}

.Form__text {
  text-align: start;
  width: 100%;
  font-weight: bold;
font-size: 16px;
line-height: 19px;

}

.Form__text--profile {
  font-size: 15px;
  color: #7B7B7B;
  font-weight: normal;
}

.Form__new-user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.Form__new-user-text {
  color: #828282;
  margin-right: 5px;
}

.Form__input {
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: #E4E4E4;
  height: 24px;
    font-size: 16px;
}
.Form__email {
  margin-bottom: 25px;
}

.Form__password {
  margin-bottom: 78px;
}

.Form__notification {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 53px;
  color: #7B7B7B;
  font-weight: normal;
}

.Form__notification-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.Form__subtitle {
  margin-bottom: 39px;
  color: #7B7B7B;
  font-size: 18px;
  font-weight: 400;
}

.Form__blocks {
  display: flex;
  justify-content: space-between;
}

.Form__blocks-inputs {
  width: 43%;
}

.Form__blocks-card {
  max-width: 347px;
}

.Form__blocks-date-cvc {
  display: flex;
  justify-content: space-between;
}