.Header {
  width: 100%;
  height: 102px;
  background-color: #1C1A19;
}

.Header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 27px;
  padding-right: 50px;
}

.Header__column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header__column-button {
  font-size: 20px;
  margin-right: 30px;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.Header__column-button:active, .Header__column-button:focus {
  outline: none;

}
.Header__column-button:last-child {
  margin-right: 0;
}

.Header__column-button--active {
  color: #FDBF5A;
}