.Login-form {
  width: 580px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Login-form__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Login-form__new-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-form__button {
  padding: 15px 140px;
}